doctype html
html(lang='zh-CN',ng-app='theOneBlog')
    head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
      title= title
      meta(name='keywords',content= keywords)
      meta(name='description',content= description)
      //- apple 全屏
      meta(name='apple-touch-fullscreen',content='yes')
      //- apple 去除工具栏
      meta(name='apple-mobile-web-app-capable',content='yes')
      meta(content='telephone=no',name='format-detection')
      meta(content='email=no',name='format-detection')
      meta(name='Author',content='theone')
      //- base(href='/')
      link(rel='stylesheet',href='/public/css/home/theoneBlog.393737a5.css')



      script(src='/public/scripts/home/base.55d38aa6.js')

      //- angular
      script(src='/angular/scripts/home/ngTheone.72d1b5b2.js')

    body(ng-controller='MainCtrl',ui-view='main')
      header#header.navbar.navbar-default.navbar-fixed-top(ui-view='header')
      div#middelContext
        block middelContext


        block footer
          .navbar.navbar-footer
              hr
              .container
                  .row
                      .col-lg-12
                          footer(role='conteninfo')
                              p.text-left TheOne个人笔记本
                                a(href='http://self.theone.io',title='个人简介') About me
                              p.text-right &copy; 2015 TheOne.io 版权所有 ICP证：闽ICP备14001334号-2


