doctype html
html(lang='zh-CN',ng-app='theOneBlog')
    head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
      //- apple 全屏
      meta(name='apple-touch-fullscreen',content='yes')
      //- apple 去除工具栏
      meta(name='apple-mobile-web-app-capable',content='yes')
      meta(content='telephone=no',name='format-detection')
      meta(content='email=no',name='format-detection')
      meta(name='Author',content='theone')

      link(rel='stylesheet',href='/public/css/home/theoneBlog.a631f8c5.css')



      script(src='/public/scripts/home/base.e267b492.js')
    
    body(ng-controller='MainCtrl',ui-view='main',ng-class='{"no-scroll":view.scrollLeft}')
      header#header.navbar.navbar-default.navbar-fixed-top(ui-view='header',headroom,offset='201',classes="{pinned:'fadeInDownH',unpinned:'fadeOutUpH',initial:'animated'}",ng-class='{"header-activate":!view.scrollLeft,"fadeInDownH":view.scrollLeft}')
      div#leftSider.translate-side
        
      div#middelContext.translate-side(ng-class='{"scroll-left":view.scrollLeft}')
        block middelContext
          

        block footer
          .navbar.navbar-footer
              .container
                  .row
                      .col-lg-12
                          footer(role='conteninfo')
                              p.left theone.io
                              p.right &copy; 2015

      div#rightSider.affix.mobile-right(ng-class='{"mobile-right-scroll":view.scrollLeft}')
        block rightSider

    //- angular
    block angular
      script(src='/angular/scripts/home/ngTheone.c3ca95c3.js')